BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
PackConstructorInitializers: Never
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
