BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 63

# TabWidth: 4
# BreakBeforeBinaryOperators: All
# BreakConstructorInitializers: AfterColon
# BreakInheritanceList: AfterColon
# BreakBeforeBraces: Custom
# BraceWrapping:
#     AfterClass: true
# PackConstructorInitializers: Never
# ColumnLimit: 60
# AlignAfterOpenBracket: BlockIndent
# BinPackArguments: false
# BinPackParameters: false
# BinPackArguments: false
# BinPackParameters: false
